
header {
    padding: 20px;
    background-color:rgb(36, 66, 186);;
}
footer {
    padding: 20px;
    background-color:rgb(36, 66, 186);
    position: absolute;
    bottom: 0;
    width: 100%;
}
#card {
    margin-top: 150px;
    background-color:rgb(36, 66, 186);
}